*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(218, 213, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}   

.piano{
    width: 600px;
    height: 250px;
    background-color: rgb(186, 183, 183);
    display: flex;   
    gap: 10px;    
}

.big_box{
    width: 50px;
    height: 250px;
    background-color: white;
    border-radius: 4px;
}

.big_box h5{
    position: relative;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.small_box{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 170px;
    background-color: black;
    padding: 2px 2px 5px 2px;
    border-radius: 4px;
}

.small_box h5{
    color: white;
    position: relative;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
}